* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

html {
  background-color: var(--main-gray);
}

main {
  width: 80%;
  margin: auto;
  background-color: var(--main-gray);
}

/* Colors */

:root {
  --main-gray: #111111;
  --main-white: #EAE2E2;
  --main-blue: #5ec0e7;
  --secondary-blue: #3d90b1;
}

.separator {
  min-height: 2px;
  background-color: var(--main-white);
  margin: 2rem 0;
}

h1, h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9em;
  line-height: 0.8;
}

h4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7em;
  line-height: 0.8;
  text-align: center;
  margin-top: 1rem;
}

h1, h2, h3 {
  width: fit-content;
}

.hero-banner h1, .filled-title {
  color: var(--main-white);
}

.hero-banner h2, .outlined-title {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--main-white);
}

.outlined-title {
  margin-left: auto;
}

.hero-banner {
  flex-direction: column;
  gap: 0;
}

header img {
  background-color: transparent;
  max-width: 200px;
  height: auto;
}

h3, .h3-highlight {
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  color: var(--main-white);
  font-size: 2.9em;
  margin-bottom: 2rem;
}

.h3-highlight {
  margin-left: 10px;
  color: var(--main-blue);
}

p {
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: var(--main-white);
  font-size: 1.6em;
  margin-bottom: 1rem;
  line-height: 1.2;
}

b {
  font-weight: 600;
}

.hero-banner h1, .hero-banner h2 {
  margin: auto;
}

header {
  height: fit-content;
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: #1111119d;
  margin-bottom: 3rem;
  backdrop-filter: blur(30px);
}

nav {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: fit-content;
  margin-left: 5%;
  background-color: transparent;
}

.nav-button, .nav-button-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Palanquin", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  transition-duration: 0.3s;
  background-color: transparent;
}

.nav-button {
  color: var(--main-white);
  border: 2px solid var(--main-white);
}

.nav-button-dark {
  color: var(--main-gray);
  border: 2px solid var(--main-gray);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 2rem;
}

.nav-button:hover {
  color: var(--main-gray);
  background-color: var(--main-white);
  cursor: pointer;
}

.nav-button-dark:hover {
  color: var(--main-white);
  background-color: var(--main-gray);
  cursor: pointer;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Palanquin", sans-serif;
  background: linear-gradient(to top right, var(--main-blue), 30%, #980de9);
  background-color: var(--main-gray);
  font-weight: 500;
  font-style: normal;
  font-size: 1.2em;
  color: var(--main-white);
  text-decoration: none;
  border: 2px solid var(--secondary-blue);
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 25px;
  transition-duration: 0.3s;
  margin-top: 2rem;
}

.cta:hover {
  color: var(--main-gray);
  background: var(--main-white);
  filter: none;
}

.cta span {
  font-size: 1.3em;
}

article .nav-button {
  font-size: 1.2em;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 25px;
  width: 100%;
}

h2 {
  margin-bottom: 2rem;
}

.half-div {
  max-width: 50%;
}

.card {
  background-color: var(--main-white);
  min-height: 500px;
  width: 375px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 10px #030303;
}

.card p {
  color: var(--main-gray);
  font-size: 1.3em;
  padding: 1rem;
}

.card-image-wrapper {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.card-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.status {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin-top: 15px;
  padding: 1rem 1.5rem 1rem 1rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--main-white);
  font-family: "Palanquin", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.status-icon {
  margin-left: 5px;
  font-size: 1.2em;
  transform: translateY(1.5px);
}

.released {
  background: linear-gradient(to top right, #08a72a, 30%, #6ab608);
  border-top: 2px solid #2bdb51;
  border-right: 2px solid #2bdb51;
  border-bottom: 2px solid #2bdb51;
}

.in-dev {
  background: linear-gradient(to top right, var(--main-blue), 30%, #980de9);
  border-top: 2px solid var(--secondary-blue);
  border-right: 2px solid var(--secondary-blue);
  border-bottom: 2px solid var(--secondary-blue);
}

.bio {
  flex-direction: column;
  align-items: flex-start;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.skill {
  background-color: var(--main-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  color: var(--main-gray);
  padding: 1rem 2rem;
  border-radius: 12px;
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

footer {
  min-height: 200px;
  background: linear-gradient(#000000, 2%, #030303);
  display: flex;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.artwork-wrapper {
  max-width: 450px;
  max-height: 450px;
  box-shadow: 10px 10px 10px #030303;
}

.artwork-wrapper img {
  contain: content;
  width: 100%;
  height: auto;
}