* {
  margin: 0;
  padding: 0;
}

header {
  min-height: 200px;
  background-color: aqua;
}

article {
  min-height: 300px;
  background-color: aquamarine;
  margin-bottom: 25px;
}

footer {
  min-height: 200px;
  background-color: rgb(24, 61, 61);
}